@using MRSUTWeb.Domain.Enums;
@{
     ViewBag.Title = "LogedHome";
     Layout = "~/Views/Shared/_LayoutWithUser.cshtml";
}


<br />
<br />
<br />
<br/>
<h1> Esti user!</h1>
<h1>Esti user!</h1>
<h1> Esti user!</h1>
<h1> Esti user!</h1>
<h1>Esti user!</h1>
<h1> Esti user!</h1>
<h1>Esti user!</h1>
<h1> Esti user!</h1>



