
@{
     ViewBag.Title = "about";
     Layout = "~/Views/Shared/_LayoutNoUser.cshtml";
}

@model MRSUTWeb.Web.Models.UserData

<main id="main">

     <!-- ======= Breadcrumbs ======= -->
     <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

               <div class="d-flex justify-content-between align-items-center">
                    <h2>Informații</h2>
                    <ol>
                         <li><a href="index.html">Home</a></li>
                         <li>Info</li>
                    </ol>
               </div>

          </div>
     </section><!-- End Breadcrumbs -->
     <!-- ======= About Section ======= -->
     <section id="about" class="about">
          <div class="container">

               <div class="row content">
                    <div class="col-lg-6">
                         <h2>Bine te-am găsit! Suntem BAD.</h2>
                    </div>
               </div>
               <div class="row content">
                    <div class="col-lg-6">
                         <p>Ne străduim să fim mereu alături de tine, indiferent de situație sau locație, fie că ai nevoie să efectuezi plăți, transferuri sau să îți dezvolți afacerea și să îți asiguri confortul familiei într-un mediu plăcut.</p>
                         <p>Ne angajăm să facilităm procesele într-un mod corect, să punem în valoare ideile tale, să-ți transformăm visele în realitate, sprijinind atât oamenii, cât și afacerile care aspiră să evolueze către următorul nivel.</p>
                         <p>La baza filozofiei noastre bancare stau oamenii, afacerile, sprijinul, înțelegerea reciprocă și încrederea. Povestea băncii noastre a început acum trei decenii, iar de atunci ne-am dezvoltat constant, devenind cea mai mare echipă financiară din Republica Moldova, cu un portofoliu de aproximativ un milion de clienți și peste 2300 de angajați digitalizați și profesioniști.</p>
                         <p>Orientarea noastră principală este către clienți, oferindu-le experiențe care să depășească așteptările, cu o gamă variată de servicii și soluții financiar-bancare la cel mai înalt standard. Astfel, ne reinventăm continuu pentru a ne asigura că rămânem în pas cu evoluția.</p>
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0" style="position: relative;">
                         <img src="~/assets/img/badbank1.png" class="banca1" style="width: 100%; height: auto; position: top; bottom: 0; " />
                    </div>
                    <p></p>
                    <p>Ne-am propus să progresăm împreună către următorul nivel, oferind experiențe centrate pe client și respectând standardele internaționale în toate serviciile și produsele noastre.</p>
                    <p>Suntem dedicați nu doar îmbunătățirii serviciilor bancare, ci și implicării active în proiecte pentru comunitate: susținem educația, arta, cultura, sportul, sănătatea, tradițiile locale, un stil de viață activ și voluntariatul, promovând astfel spiritul civic și solidaritatea.</p>
                    <p>În toate eforturile noastre, ne străduim să fim parteneri de încredere, alături de tine, indiferent de provocările sau oportunitățile cu care te confrunți și oriunde te-ai afla în viață!</p>
               </div>

          </div>
     </section><!-- End About Section -->
     <!-- ======= Team Section ======= -->
     <section id="team" class="team section-bg">
          <div class="container">

               <div class="section-title">
                    <h2>Echipa</h2>
                    <p>Echipa noastră harnică</p>
               </div>

               <div class="row">

                    <div class="col-lg-6">
                         <div class="member d-flex align-items-start">
                              <div class="pic"><img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                   <h4>Andrei Popov</h4>
                                   <span>Consultant de Investiții</span>
                                   <p>Andrei este un expert în domeniul investițiilor, pasionat de piețele financiare și mereu la curent cu ultimele tendințe. El își ajută clienții să își gestioneze portofoliile de investiții cu încredere și înțelepciune.</p>

                              </div>
                         </div>
                    </div>

                    <div class="col-lg-6">
                         <div class="member d-flex align-items-start">
                              <div class="pic"><img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                   <h4>Ana Ionescu</h4>
                                   <span>Analist Financiar</span>
                                   <p>Ana este o profesionistă meticuloasă și cu o minte analitică ascuțită. Ea se ocupă cu atenție de analiza datelor financiare și oferă sfaturi și soluții precise clienților.</p>

                              </div>
                         </div>
                    </div>

                    <div class="col-lg-6">
                         <div class="member d-flex align-items-start">
                              <div class="pic"><img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                   <h4>Ion Georgescu</h4>
                                   <span>Director de Sucursală</span>
                                   <p>Ion este un lider carismatic și inspirat, cu o viziune clară asupra obiectivelor sale și ale echipei sale. El își ghidează echipa cu încredere și determinare către succesul în atingerea obiectivelor organizaționale.</p>

                              </div>
                         </div>
                    </div>

                    <div class="col-lg-6">
                         <div class="member d-flex align-items-start">
                              <div class="pic"><img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                              <div class="member-info">
                                   <h4>Elena Popescu</h4>
                                   <span>Manager de Relații cu Clienții</span>
                                   <p>Elena este o persoană energică și empatică, mereu dedicată să ofere cele mai bune soluții pentru clienți și să îi ajute să își atingă obiectivele financiare.</p>

                              </div>
                         </div>
                    </div>

               </div>

          </div>
     </section><!-- End Team Section -->

     <section id="team" class="team section-bg">
          <div class="container">

               <div class="section-title">
                    <h2>Cont bancar</h2>
                    <p>Deschidere cont bancar</p>
               </div>

               <div>
                    <h5>1. Alegerea tipului de cont: În primul rând, alegeți tipul de cont bancar potrivit pentru nevoile dvs. Aceasta ar putea include un cont curent pentru tranzacții zilnice, un cont de economii pentru economii pe termen lung sau alte tipuri specializate de conturi, cum ar fi conturi pentru întreprinderi sau conturi de pensie.</h5>
                    <h5>2. Identificarea documentelor necesare: Pentru a deschide un cont bancar, veți avea nevoie de anumite documente de identitate și de confirmare a adresei. Acestea pot include un act de identitate (carte de identitate sau pașaport), o dovadă de adresa (factură de utilități sau extras de cont bancar), și, în unele cazuri, un document care să ateste sursa fondurilor (cum ar fi un extras de cont de la altă bancă).</h5>
                    <h5>3. Vizitarea unei filiale: Aveți opțiunea de a vă prezenta personal la una dintre filialele băncii.</h5>
                    <h5>4. Completați formularele de deschidere a contului: Fie că aplicați în persoană, veți completa formulare de deschidere a contului. Asigurați-vă că furnizați informațiile corecte și complete.</h5>
                    <h5>5. Depunerea documentelor: Alături de formularele completate, veți fi nevoit să depuneți documentele de identitate și alte documente solicitate de bancă.</h5>
                    <h5>6. Verificarea și aprobarea: După ce ați depus cererea și documentele necesare, banca va verifica informațiile furnizate și va evalua eligibilitatea dvs. pentru deschiderea contului. Acest proces poate varia în funcție de politica și procedurile interne ale băncii.</h5>
                    <h5>7. Activarea contului: Odată ce cererea dvs. este aprobată, veți primi informații despre contul dvs., inclusiv numărul de cont și instrucțiuni despre cum să activați și să gestionați contul.</h5>
                    <h5>8. Primirea kitului de bun venit: În cele din urmă, veți primi un kit de bun venit de la bancă, care poate include cardurile de debit sau de credit asociate cu contul dvs., chei token pentru accesul online sau alte informații importante.</h5>
               </div>

          </div>
     </section>

     <!-- ======= Our Partners Section ======= -->
     <section id="skills" class="skills">
          <div class="container">

               <div class="section-title">
                    <h2>Parteneri</h2>
                    <p>Partenerii noștri</p>
               </div>

               <section id="clients" class="clients section-bg">
                    <div class="container">

                         <div class="row">

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener1.jpg" class="img-fluid" alt="">
                              </div>

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener2.png" class="img-fluid" alt="">
                              </div>

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener3.png" class="img-fluid" alt="">
                              </div>

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener4.png" class="img-fluid" alt="">
                              </div>

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener5.png" class="img-fluid" alt="">
                              </div>

                              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                                   <img src="~/assets/img/partners/partener6.png" class="img-fluid" alt="">
                              </div>

                         </div>

                    </div>
               </section>

          </div>
     </section>

</main><!-- End #main -->
