
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Home/_LayoutPage1.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Informații</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Info</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2>Bine te-am găsit! Suntem BAD.</h2>
                    <p>Muncim pentru a-ți fi alături orice ai face și oriunde te-ai afla, atunci când vrei să realizezi plăți sau transferuri, să-ți dezvolți afacerea sau să-ți aduci familia într-un cuibușor mai plăcut. </p>
                    <p>Facem ca lucrurile să funcționeze într-o manieră corectă, ideile să fie valorificate, visele - realizate, susținând oamenii și afacerile care își doresc să avanseze la Nivelul Următor.</p>
                    <p>Considerăm că bankingul este în primul rând despre oameni, afaceri, sprijin, înțelegere și încredere. Povestea BAD a început acum 30 de ani – în trei decenii am devenit cea mai mare, profesionistă și digitalizată echipă financiară din Republica Moldova, cu circa un milion de clienți și peste 2200 de angajați. </p>
                    <p>Suntem orientați către clienți, să le oferim experiențe conform așteptărilor – un portofoliu variat de servicii și soluții financiar-bancare la cel mai înalt nivel. Așa ne reinventăm continuu. </p>
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0" style="position: relative;">
                    <img src="~/assets/img/badbank1.png" class="banca1" style="width: 100%; height: auto; position: absolute; bottom: 0; " />
                </div>
                <p> <p>Ne-am propus să avansăm împreună la nivelul următor: cu experiențe centrate pe client și standarde internaționale pentru toate serviciile și produsele.</p>
                <p>Suntem mai buni nu doar în banking, ci și în proiecte pentru societate: ne implicăm în viața comunității, sprijinind educația, arta, cultura, sportul, sănătatea, tradițiile țării, modul activ și sănătos de viață, voluntariatul și spiritul civic. În tot ceea ce facem, tindem mereu să excelăm, să fim cei mai buni ÎMPREUNĂ și să-ți fim alături, orice ai face și oriunde te-ai afla!</p> </p>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Echipa</h2>
                <p>Echipa noastră harnică</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Andrei Popov</h4>
                            <span>Consultant de Investiții</span>
                            <p>Andrei este un expert în domeniul investițiilor, pasionat de piețele financiare și mereu la curent cu ultimele tendințe. El își ajută clienții să își gestioneze portofoliile de investiții cu încredere și înțelepciune.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Ana Ionescu</h4>
                            <span>Analist Financiar</span>
                            <p>Ana este o profesionistă meticuloasă și cu o minte analitică ascuțită. Ea se ocupă cu atenție de analiza datelor financiare și oferă sfaturi și soluții precise clienților.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Ion Georgescu</h4>
                            <span>Director de Sucursală</span>
                            <p>Ion este un lider carismatic și inspirat, cu o viziune clară asupra obiectivelor sale și ale echipei sale. El își ghidează echipa cu încredere și determinare către succesul în atingerea obiectivelor organizaționale.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Elena Popescu</h4>
                            <span>Manager de Relații cu Clienții</span>
                            <p>Elena este o persoană energică și empatică, mereu dedicată să ofere cele mai bune soluții pentru clienți și să îi ajute să își atingă obiectivele financiare.</p>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container">

            <div class="section-title">
                <h2>Parteneri</h2>
                <p>Partenerii noștri</p>
            </div>

            <div>
                <img src="~/assets/img/parteneri1.png" />
            </div>

        </div>
    </section>

</main><!-- End #main -->
