@{
     ViewBag.Title = "DepositMoneyMegaGain";
     Layout = "~/Views/Shared/_LayoutNoUser.cshtml";
}

@model MRSUTWeb.Web.Models.UserData

<main id="main">
     <br />
     <br />
     <!-- ======= Portfolio Details Section ======= -->
     <section id="portfolio-details" class="portfolio-details">
          <div class="container">

               <div class="row gy-4">

                    <div class="col-lg-8">
                         <div class="portfolio-details-slider swiper">
                              <div class="swiper-wrapper align-items-center">

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/mmg1.jpg">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/mmg2.jpg" alt="">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/mmg3.jpg" alt="">
                                   </div>

                              </div>
                              <div class="swiper-pagination"></div>
                         </div>
                    </div>

                    <div class="col-lg-4">
                         <div class="portfolio-info">
                              <h3>Depozit MoneyMegaGain</h3>
                              <ul>
                                   <li><strong>Procent anual:</strong> 11%</li>
                                   <li><strong>Tip rata: </strong> Fixa</li>
                                   <li><strong>Termen: </strong> 12 luni</li>
                                   <li><strong>Valuta:</strong> MDL </li>
                              </ul>
                         </div>
                         <div class="portfolio-description">
                              <h2>Citeste mai multe</h2>
                              <p>
                                   Bun venit la Depozitul Bancar MoneyMegaGain! Aici, obiectivul nostru este simplu: să vă ajutăm să vă atingeți obiectivele financiare cu ușurință și încredere. Cu servicii bancare transparente, soluții flexibile și un angajament ferm față de clienți, vă oferim un partener de încredere în gestionarea economiilor dvs. Fie că economisiți pentru o vacanță de vis sau pentru un viitor sigur, suntem aici să vă susținem în fiecare pas al drumului. Alăturați-vă nouă astăzi și descoperiți avantajele unui parteneriat bancar cu adevărat valoros!
                              </p>
                         </div>
                    </div>

               </div>

          </div>
     </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
