@{
     ViewBag.Title = "DepositMoneyUp";
     Layout = "~/Views/Home/_LayoutPage1.cshtml";
}

<main id="main">
     <br />
     <br />
     <!-- ======= Portfolio Details Section ======= -->
     <section id="portfolio-details" class="portfolio-details">
          <div class="container">

               <div class="row gy-4">

                    <div class="col-lg-8">
                         <div class="portfolio-details-slider swiper">
                              <div class="swiper-wrapper align-items-center">

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/moneyup1.jpg">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/moneyup2.jpg" alt="">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/moneyup3.jpg" alt="">
                                   </div>

                              </div>
                              <div class="swiper-pagination"></div>
                         </div>
                    </div>

                    <div class="col-lg-4">
                         <div class="portfolio-info">
                              <h3>Depozit MoneyUp</h3>
                              <ul>
                                   <li><strong>Procent anual:</strong> 13%</li>
                                   <li><strong>Tip rata: </strong> Flotanta</li>
                                   <li><strong>Termen: </strong> 25 luni</li>
                                   <li><strong>Valuta:</strong> MDL </li>
                              </ul>
                         </div>
                         <div class="portfolio-description">
                              <h2>Citeste mai multe</h2>
                              <p>
                                   Cu Depozitul Bancar MoneyUp, veți beneficia de o gamă largă de avantaje, inclusiv dobânzi competitive, acces la servicii bancare online convenabile și suport dedicat din partea echipei noastre profesioniste. Suntem aici pentru a vă ajuta să vă atingeți obiectivele financiare și să vă gestionăm economiile cu grijă și responsabilitate.
                              </p>
                         </div>
                    </div>

               </div>

          </div>
     </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->