@{
     ViewBag.Title = "DepositMoneyPlus";
     Layout = "~/Views/Home/_LayoutPage1.cshtml";
}

<main id="main">
     <br />
     <br />
     <!-- ======= Portfolio Details Section ======= -->
     <section id="portfolio-details" class="portfolio-details">
          <div class="container">

               <div class="row gy-4">

                    <div class="col-lg-8">
                         <div class="portfolio-details-slider swiper">
                              <div class="swiper-wrapper align-items-center">

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/depozitMoneyPlusFirst.jpg">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/depozitMoneyPlus2.jpg" alt="">
                                   </div>

                                   <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/depozitMoneyPlus3.jpg" alt="">
                                   </div>

                              </div>
                              <div class="swiper-pagination"></div>
                         </div>
                    </div>

                    <div class="col-lg-4">
                         <div class="portfolio-info">
                              <h3>Depozit MoneyPlus</h3>
                              <ul>
                                   <li><strong>Procent anual:</strong> 7.3%</li>
                                   <li><strong>Tip rata: </strong> Flotanta</li>
                                   <li><strong>Termen: </strong> 15 luni</li>
                                   <li><strong>Valuta:</strong> MDL </li>
                              </ul>
                         </div>
                         <div class="portfolio-description">
                              <h2>Citeste mai multe</h2>
                              <p>
                                   Depozitul MoneyPlus, cu rata flotanta, de 7.3% anuale, pe termen de 15 luni, in MDL, este un depozit avantajos pentru economii. Suma minima de suplinire este 3000 MDL, nu este permisa suplinirea ulterioara. Fara capitalizare.
                              </p>
                         </div>
                    </div>

               </div>

          </div>
     </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->