@{
    Layout = "~/Views/Home/_LayoutPage1.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Politica de confidențialitate</h2>
                <ol>
                    <li><a href="Index">Home</a></li>
                    <li>Politica de confidențialitate</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Privacy Policy Section ======= -->
    <section id="privacy-policy" class="privacy-policy">
        <div class="container">
            <h3>Politica de confidențialitate a băncii BAD </h3>
            <p>BAD Bank pune protejarea datelor personale ale clienților săi în fruntea preocupărilor sale. Suntem înregistrati la Centrul Național pentru Protecția Datelor cu Caracter Personal ca operator de date cu caracter personal sub numărul 0000052.</p>
            <p>La BAD Bank, respectăm Legea nr.133 din 08.07.2011 privind protecția datelor cu caracter personal și avem politici interne strict în acest sens. Datele dumneavoastră personale sunt colectate, prelucrate, stocate și păstrate în conformitate cu aceste reglementări.</p>
            <p>Colectăm datele în scopuri bine definite, explicite și legitime, inclusiv pentru furnizarea serviciilor noastre financiare, asigurând comunicarea continuă, inclusiv prin trimiterea de mesaje promoționale, și pentru a răspunde rapid solicitarilor dumneavoastră.</p>
            <p>La BAD Bank, luăm măsuri de securitate adecvate pentru a proteja datele dumneavoastră personale împotriva distrugerii, modificării, blocării, copierii, diseminării sau altor acțiuni ilegale.</p>
            <p>Prin completarea formularelor-tip, cererilor sau prin orice altă formă de comunicare a datelor pe hârtie sau pe suport electronic, vă exprimați acordul expres pentru prelucrarea datelor de către BAD Bank.</p>
            <p>Conform Legii nr.133 din 08.07.2011 privind protecția datelor cu caracter personal, aveți dreptul de a accesa și interveni asupra datelor, de a vă opune prelucrării acestora, de a nu fi supus unei decizii individuale și de a avea acces la justiție. Dreptul de opoziție poate fi exercitat prin depunerea unei reclamații la una dintre unitățile teritoriale ale băncii sau prin expedierea electronică la adresa badbank@nil.com.</p>
            <p>BAD Bank va dezvălui și transmite datele dumneavoastră personale doar direct dumneavoastră sau persoanei împuternicite de dumneavoastră, precum și autorităților competente, respectând legislația în vigoare. Pentru a proteja datele dumneavoastră personale, vă recomandăm să fiți atenți la comunicarea acestora pe site-uri sau în alte situații nejustificate.</p>
            <p>Ultima actualizare: Februarie 2024</p>
        </div>
    </section><!-- End Privacy Policy Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->
