@{
    ViewBag.Title = "TermService";
    Layout = "~/Views/Home/_LayoutPage1.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Termeni și condiții</h2>
                <ol>
                    <li><a href="Index">Home</a></li>
                    <li>Termeni și Condiții</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Terms and Conditions Section ======= -->
    <section id="terms-and-conditions" class="terms-and-conditions">
        <div class="container">
            <h3>Termeni și condiții ai băncii BAD</h3>
            <p>Vă rugăm să citiți cu atenție acești termeni și condiții înainte de a utiliza serviciile noastre bancare. Utilizând serviciile noastre, sunteți de acord să respectați acești termeni și condiții.</p>
            <h4>1. Descrierea Serviciilor</h4>
            <p>Banca BAD oferă o gamă largă de servicii financiare, inclusiv conturi curente, economii, credite, investiții și altele. Detaliile specifice ale fiecărui serviciu sunt disponibile pe site-ul nostru web sau pot fi obținute prin contactarea sucursalelor noastre.</p>
            <h4>2. Utilizarea Serviciilor</h4>
            <p>Utilizarea serviciilor noastre implică conformarea cu toate legile și reglementările aplicabile. Orice utilizare abuzivă sau frauduloasă a serviciilor noastre va duce la suspendarea sau întreruperea contului dumneavoastră și la luarea altor măsuri legale.</p>
            <h4>3. Confidențialitatea Informațiilor</h4>
            <p>Suntem dedicați protejării confidențialității informațiilor clienților noștri conform politicilor noastre de confidențialitate. Informațiile furnizate de clienți sunt tratate cu cea mai mare atenție și sunt utilizate numai în scopul furnizării serviciilor bancare solicitate.</p>
            <h4>4. Modificări ale Termenilor și Condițiilor</h4>
            <p>Ne rezervăm dreptul de a modifica acești termeni și condiții în orice moment. Orice modificări vor intra în vigoare imediat după publicarea lor pe site-ul nostru web. Este responsabilitatea dumneavoastră să verificați periodic acești termeni și condiții pentru a fi la curent cu orice modificări.</p>
            <h4>5. Contact</h4>
            <p>Pentru orice întrebări sau nelămuriri legate de acești termeni și condiții, vă rugăm să ne contactați utilizând informațiile de contact disponibile pe site-ul nostru web.</p>
            <p>Ultima actualizare: Februarie 2024</p>
        </div>
    </section><!-- End Terms and Conditions Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->
