@{
     ViewBag.Title = "TransferNotSucces";
     Layout = "~/Views/Shared/_LayoutWithUser.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h1>Transfer esuat! Suma sau datele cardului sunt incorecte.</h1>
<h1>@Html.ActionLink("Inapoi", "ClientHome", "LogedUserHome")</h1>