@{
     ViewBag.Title = "TransferSucces";
     Layout = "~/Views/Shared/_LayoutWithUser.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h1>Transferul a fost efectuat cu succes!</h1>
<h1>@Html.ActionLink("Cabinet Personal", "ClientHome", "LogedUserHome")</h1>