@model MRSUTWeb.Web.Models.ResetPasswordViewModel
@{
     ViewBag.Title = "ForgetPassword";
}

<br />
<br />
<br />
<br />
<br />



@using (Html.BeginForm("SendCode", "ForgetPassword", FormMethod.Post))
{
     <h1>Resetare parola</h1>
     <div class="form-group">
          @Html.LabelFor(model => model.Username)
          @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
     </div>
     <button type="submit" class="btn btn-primary">Send Code</button>
}

