
@{
     ViewBag.Title = "PasswordResetSuccess";
     Layout = "~/Views/Shared/_LayoutWithUser.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>PAROLA RESETATA CU SUCCES! @Html.ActionLink("Logare", "LogIn", "Login")</h1>


